<div class="card" style="width: 18rem;">
  <%# <img class="card-img-top" src="..." alt="Card image cap"> %>
  <div class="card-body">
    <% if item_is_link%>
      <h5 class="card-title"><%= link_to product.item, product %></h5>
    <% else %>
      <h5 class="card-title"><%= product.item %></h5>
    <% end %>
    <h5><strong>Price:</strong> $<%= product.price %></h5>
    <p class="card-text"><%= product.description %></p>
    <% if item_is_link %>
      <button class="btn btn-primary"><%= link_to "Visit Item", product, :class => "text-light" %></button>
    <% end %>
  </div>
</div>