<div class="card m-2" style="width: 18rem;">
  <%# <img class="card-img-top" src="..." alt="Card image cap"> %>
  <div style="width: 16rem; background: #e3e3e3"></div>
  <%# <%= image_tag(product.image, alt: "Product", class: "card-img-top, img-responsive") %>
  <div class="d-flex  flex-column card-body">
    <% if item_is_link%>
      <h5 class="card-title"><%= link_to product.item, product %></h5>
    <% else %>
      <h5 class="card-title"><%= product.item %></h5>
    <% end %>
    <h5><strong>Price: </strong><%= number_to_currency product.price %></h5>

    <%if product.percentDiscount > 0.0 %>
     <h6><%= (product.percentDiscount * 100).round(0) %>% off (now just <%= number_to_currency (product.price - (product.price * product.percentDiscount)) %>)</h6>
    <% end %>

    <% if item_is_link%>
      <p class="card-text"><%= product.description.truncate(200) %></p>
    <% else %>
      <p class="card-text"><%= product.description %></p>
    <% end %>

    <% product.Categories.each do |category| %>
      <%= category.name %>
    <% end %>
      <button class="btn btn-success mt-auto"><%= link_to '+ cart', add_to_cart_path(product.id), method: :post, :class => "text-light" %></button>
 </div>
</div>

<%# desc[0..30].gsub(/\s\w+\s*$/,'...') %>