<!DOCTYPE html>
<html>
  <head>
    <title>InTurn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <nav class="navBarBorderBottom pokeColor navbar navbar-expand-md bg-dark navbar-dark">
       <a class="navbar-brand" href="/"><strong style="font-size: 26px">InTurn</strong> <span style="font-size: 14px">Curling Supplies<span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <%# <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link " href="/">Home</a>
          </li>
        </ul> %>
      </div>
      <div>
          <%= form_with(url: search_results_products_path, method: "get", local: true) do %>
          <%= text_field_tag(:query) %>
          <%= select_tag :category, content_tag(:option,'All...',:value=>"ALL")+options_from_collection_for_select(Category.all, 'id', 'name') %>
          <%= submit_tag("Search") %>
          <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>

